<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNSS India</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marmelad&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum:wght@600&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="heading">
        <div class="heading-top">
            <h1 style="font-family: 'Marmelad', sans-serif;">GNSS INFORMATION CENTER</h1>
            <div class="heading-links" style="color: #a6cbdd;">
                <% if(!currentUser){ %>
                <a href="/login">LOGIN</a> <span class="hide-me"> | </span>
                <a href="/register">REGISTER</a>
                <% } else { %>
                  <a href="/logout">LOGOUT</a>
                  <% } %>
            </div>
        </div>
        <div style="color: #a6cbdd;" class="heading-bottom">
            <div>
                <h4>Primary Location for NavIC Information</h4>
            </div>
            <div class="heading-links">
                <!-- <a href="#">HOME</a> |  -->
                <a class="about-gnss-link" href="#">ABOUT GNSS</a><span class="hide-me"> | </span>
                <a href="#">FAQ</a><span class="hide-me"> | </span>
                <a href="#">FEEDBACK</a>
            </div>
        </div>
    </div>

    <div class="topnav" id="myTopnav">
         <a href="/">Home</a>
        <!--<a href="#news">News</a>
        <a href="#contact">Contact</a> -->
        

        <div class="dropdown">
            <button class="dropbtn">Gnss
             
            </button>
            <div class="dropdown-content">
              <a href="/gps_home#sushi">What is Gnss ?</a>
              <a href="/gps_home#panda">Fundamental</a>
              <a href="/gps_home#monke">Receivers</a>
              <a href="/gps_home#snake">Applications</a>
              <a href="/gps_home#doge">FAQ</a>
            </div>
          </div> 

          <div class="dropdown">
            <button class="dropbtn">GLONASS 
            </button>
            <div class="dropdown-content">
              <a href="/glonass#glonassoverview">Overview</a>
              <a href="/glonass#glonassavail">Architecture</a>
              <a href="/glonass#glonassreal">Perfomances</a>
              <a href="/glonass#glonassdaily">Availability</a>
              <a href="/glonass#glonassvis">Services</a>
              <a href="/glonass#glonassgdm">Status</a>
              <a href="/glonass#glonassgzc">Daily Monitoring</a>
              <a href="/glonass#glonassgdxx">Zone Calculation</a>
            </div>
          </div> 

          <div class="dropdown">
            <button class="dropbtn">GALILEO 
            </button>
            <div class="dropdown-content">
              <a href="/galileo#ninjagal">Overview</a>
              <a href="/galileo#warriorgal">Architecture</a>
              <a href="/galileo#kaigal">Perfomance</a>
              <a href="/galileo#supergal">Services</a>
              <a href="/galileo#samuraigal">Service Centre</a>
         
            </div>
          </div> 

          <div class="dropdown">
            <button class="dropbtn">BEIDOU 
            </button>
            <div class="dropdown-content">
              <a href="/beidou#ninjadou">Overview</a>
              <a href="/beidou#warriordou">Architecture</a>
              <a href="/beidou#kaidou">Perfomance</a>
              <a href="/beidou#superdou">Services</a>
              <a href="/beidou#samuraidou">Future and Evolutions</a>
              <a href="/beidou#attackdou">Status</a>
            </div>
          </div> 

          <div class="dropdown">
            <button class="dropbtn">GPS 
            </button>
            <div class="dropdown-content">
              <a href="/qzss#ninjaqz">Overview</a>
              <a href="/qzss#warriorqz">Architecture</a>
              <a href="/qzss#kaiqz">Status</a>
              <a href="/qzss#superqz">Real-Time Monitoring</a>
              <a href="/qzss#samuraiqz">Differential GPS</a>
              <a href="/qzss#attackqz">Future and Evolutions</a>
            </div>
          </div> 

          <div class="dropdown">
            <button class="dropbtn">IRNSS 
            </button>
            <div class="dropdown-content">
              <a href="/sbas#ninjasb">Overview</a>
              <a href="/sbas#warriorsb">Architecture</a>
              <a href="/sbas#kaisb">N a v I C</a>
            </div>
          </div> 
          <div class="search">
            <input type="text" placeholder="Search here">
          </div>

        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
      </div>


      <div class="flash-msg-container">
        <% if(error && error.length>0) { %>
          <div class="error-alert" role="alert">
            <%=error%>
          </div>	
        <% } %>
        <% if(success && success.length>0) { %>
          <div class="success-alert" role="alert">
            <%=success%>
          </div>	
        <% } %> 
      </div>

      <div class="content">
      
