<%-include ("../partials/header")%>

<div class="gps-home-text">
    <h1>This is .</h1>
    <h1>GPS Page</h1>
    <h1>Test 123.</h1>
</div>

<div class="news-sidebar">
  <h1>Latest news</h1>
</div>
</div>

<%-include ("../partials/footer")%>
