<%-include ("../partials/header")%>

<div class="gps-home-text">
  <!-- <section class="background"></section> -->
  <section class="secright">
    <h2 class="headingTag">Overview</h2>
    <p class="sectionsubTag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim ligula nec dui blandit condimentum. Duis dapibus leo ut scelerisque sollicitudin. Pellentesque in ultricies ipsum. Etiam consectetur, est sit amet rhoncus posuere, nulla velit pulvinar libero, in sagittis turpis ligula non dolor. Ut venenatis tristique dapibus. Phasellus et consequat quam, a vehicula massa. Vivamus non ante venenatis quam vehicula cursus accumsan in velit. Suspendisse in lorem id nunc elementum viverra at id felis. Proin leo risus, pharetra sed quam vel, pulvinar pretium ipsum. Vivamus sed odio eget nibh tempus blandit. In condimentum sapien mauris, et condimentum libero luctus eu. Pellentesque facilisis a nisi eu dapibus.

      Maecenas tristique mi id urna consequat, non dignissim nisl tincidunt. Nullam volutpat enim rhoncus, varius tellus ullamcorper, condimentum elit. Aliquam placerat quam sed sem semper, egestas pharetra tellus finibus. Sed mollis mattis egestas. Aliquam feugiat sapien sit amet ante pharetra luctus. Mauris eget viverra magna, ac imperdiet nisl. In lobortis risus vel erat placerat, nec gravida sapien luctus. Maecenas ornare erat massa, quis malesuada urna finibus nec. Curabitur tincidunt massa nisl, eget accumsan dolor blandit eu. Nam id purus mauris. Nam vestibulum ante nec quam blandit elementum. Phasellus faucibus sit amet turpis eu accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In mauris odio, porta nec dui sit amet, maximus pellentesque dolor. Cras dignissim, tortor a commodo vestibulum, purus erat consequat sem, eu pulvinar arcu nunc sodales augue. Ut id turpis in erat finibus scelerisque sit amet in tortor.
      
      Sed non fermentum nisi. Vestibulum interdum tempus molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pulvinar egestas orci, eu sollicitudin sem. Vestibulum nisl tellus, dignissim id convallis in, luctus id tellus. Nam tincidunt porta fringilla. Vivamus dolor nibh, varius vel odio quis, mollis venenatis nulla. Nullam scelerisque semper justo vel consequat.
      
      Suspendisse potenti. Nullam convallis pulvinar cursus. Fusce vitae magna quis odio scelerisque dictum vel eu neque. Nam pharetra imperdiet purus placerat facilisis. Vestibulum eu risus feugiat, varius lorem ut, pellentesque elit. Cras laoreet sapien metus, eu sagittis justo euismod egestas. In sodales libero molestie, varius quam quis, malesuada magna.
      
      Nulla facilisi. Integer tempor eleifend vestibulum. Pellentesque sollicitudin tincidunt molestie. Mauris mattis eu mauris nec maximus. Nulla mattis massa diam, sed maximus sapien laoreet in. Nulla non nulla tellus. Vestibulum semper eros a varius hendrerit. Nam metus sapien, iaculis eget tristique et, lacinia a neque.</p>
   </section>
</div>
<div class="news-sidebar">
  <h1>Latest news</h1>
</div>


<div class="dropdown-sidebar">
  
    <a href="#">Overview </a>
    <a href="#">Availability</a>
    <a href="#">Real-Time Monitoring</a>
    <a href="#">Daily Status</a>
    <a href="#">Visibility Calculation</a>
    <a href="#">GDOP Calculation</a>

</div>
<footer>
  <div>
      <a href="#">Terms of Use | </a><a href="#">Privacy Policy | </a><a href="#">Contact Us</a>
  </div>
  <div>
      <h4>© Copyright 2021, Elena Geo Systems, All Rights Reserved</h4>
  </div>
</footer>
