<%-include ("./partials/header")%>

<main class="container">
  <!-- <section class="background"></section> -->
  <h1 class="title" id="overview"></h1>
    <div class="overview-section">
      <div class="card">
        <h2>Overview</h2>
        <p>
          A Front-end Developer with hands on experience of designing, developing and maintaining web. Adept at understanding
          the requirement of the clients and delivering projects accordingly. Highly skilled at collaborating with team members to
          ship beautiful products within deadlines.
           And Some motivational quotes etc..
       
        </p>
       
      </div>
    </div>
   
</main>
<div class="news-sidebar">
  <h1>Latest news</h1>
</div>


<div class="dropdown-sidebar">
  
    <a href="#">Overview </a>
    <a href="#">Availability</a>
    <a href="#">Real-Time Monitoring</a>
    <a href="#">Daily Status</a>
    <a href="#">Visibility Calculation</a>
    <a href="#">GDOP Calculation</a>

</div>
<footer>
  <div>
      <a href="#">Terms of Use | </a><a href="#">Privacy Policy | </a><a href="#">Contact Us</a>
  </div>
  <div>
      <h4>© Copyright 2021, Elena Geo Systems, All Rights Reserved</h4>
  </div>
</footer>
