<%-include ("./partials/header")%>

<div class="login-div">
    <div class="form-container">
        <h1 style="text-align: center">Login</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" required autofocus type="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input class="form-control" required type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                      </svg>
                    Sign in
                </button>
            </div>
        </form>
        <div class="form-anchor">
            <a href="/forgot">Forgot password?</a>
        </div>
    </div>
</div>


<%-include ("./partials/footer")%>