<%-include ("./partials/header")%>




<div class="dropdown-sidebar">
  
  
  <a href="#ninjaqz">Overview</a>
  <a href="#warriorqz">Availability</a>
  <a href="#kaiqz">Real-Time Monitoring</a>
  <a href="#superqz">Daily Status</a>
  <a href="#samuraiqz">Visibility Calculation</a>
  <a href="#attackqz">GDOP Calculation</a>

</div>

<div class="gps-home-text">

    <div id = 'ninjaqz'>
    <h4 style = "padding-top : 50px">Overview</h4>
    <p style = "font-size: 20px; padding-top:25px; margin: 25px 50px 75px 100px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit sapien, pellentesque et lectus sed, finibus fringilla enim. Vivamus laoreet lorem consequat purus ultrices vulputate. Vestibulum a euismod nibh. Duis ut metus semper, tristique ipsum sit amet, pulvinar erat. Sed sit amet imperdiet nunc. Vestibulum vitae ornare tellus. Pellentesque mattis gravida dui, in placerat urna sodales vitae. Nunc hendrerit turpis eu risus volutpat, non sagittis massa molestie. Nam hendrerit ante ligula, vel efficitur neque sollicitudin a.Suspendisse potenti. Morbi cursus massa lacus, a fringilla purus rutrum eget. Cras aliquet quam urna, sed varius diam porta vel. Proin fermentum dolor nec ipsum cursus fringilla. Vivamus lobortis congue ullamcorper. Suspendisse enim lorem, mattis at cursus ac, blandit at ligula. Aenean dignissim tortor in eros hendrerit dictum. Nullam sed sapien ac augue egestas consectetur a vitae ipsum. Vivamus id venenatis risus, sit amet aliquet libero. Sed quis purus bibendum, consequat est eu, tempor arcu. Aenean imperdiet arcu sed dui viverra, id vestibulum tellus pretium. Quisque vel sem a leo accumsan lobortis. Cras dignissim purus interdum, interdum orci eget, aliquam magna
      Dummy text refers to the bits of content that are used to fill a website mock-up. This text helps web designers better envision how the website will look as a finished product. It is important to understand that dummy text has no meaning whatsoever. Its sole purpose is to fill out blank spaces with “word-like” content, without making any copyright infringements.

      Dummy text is also known as filler text or placeholder text, and it has been used for a long time in the various fields of online publishing.Now you know what dummy text is, let’s learn about its usefulness. Some people say that they don’t need to use a dummy text generator to deliver a web design project to the customer. Even though this might be true, the effect that the final project will produce on the client won’t be as satisfactory as in the case of one with included filler content.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
      molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
      numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
      optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
      obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
      nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
      tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
      quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
      sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
      recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
      minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
      quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
      fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
      consequuntur! Commodi minima excepturi repudiandae velit hic maxime
      doloremque. Quaerat provident commodi consectetur veniam similique ad 
      earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
      fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
      suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
      modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
      totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
      quasi aliquam eligendi, placeat qui corporis!</p>
    </div>
        <div id = 'warriorqz'>
        <h4 style = "padding-top : 50px">Availability</h4>
        <p style = "font-size: 20px; padding-top:25px; margin: 25px 50px 75px 100px; text-align: justify; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit sapien, pellentesque et lectus sed, finibus fringilla enim. Vivamus laoreet lorem consequat purus ultrices vulputate. Vestibulum a euismod nibh. Duis ut metus semper, tristique ipsum sit amet, pulvinar erat. Sed sit amet imperdiet nunc. Vestibulum vitae ornare tellus. Pellentesque mattis gravida dui, in placerat urna sodales vitae. Nunc hendrerit turpis eu risus volutpat, non sagittis massa molestie. Nam hendrerit ante ligula, vel efficitur neque sollicitudin a.Suspendisse potenti. Morbi cursus massa lacus, a fringilla purus rutrum eget. Cras aliquet quam urna, sed varius diam porta vel. Proin fermentum dolor nec ipsum cursus fringilla. Vivamus lobortis congue ullamcorper. Suspendisse enim lorem, mattis at cursus ac, blandit at ligula. Aenean dignissim tortor in eros hendrerit dictum. Nullam sed sapien ac augue egestas consectetur a vitae ipsum. Vivamus id venenatis risus, sit amet aliquet libero. Sed quis purus bibendum, consequat est eu, tempor arcu. Aenean imperdiet arcu sed dui viverra, id vestibulum tellus pretium. Quisque vel sem a leo accumsan lobortis. Cras dignissim purus interdum, interdum orci eget, aliquam magna
          Dummy text refers to the bits of content that are used to fill a website mock-up. This text helps web designers better envision how the website will look as a finished product. It is important to understand that dummy text has no meaning whatsoever. Its sole purpose is to fill out blank spaces with “word-like” content, without making any copyright infringements.
    
          Dummy text is also known as filler text or placeholder text, and it has been used for a long time in the various fields of online publishing.Now you know what dummy text is, let’s learn about its usefulness. Some people say that they don’t need to use a dummy text generator to deliver a web design project to the customer. Even though this might be true, the effect that the final project will produce on the client won’t be as satisfactory as in the case of one with included filler content.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
          molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
          obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
          nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
          tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
          quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
          sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
          recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
          minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
          quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
          fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
          consequuntur! Commodi minima excepturi repudiandae velit hic maxime
          doloremque. Quaerat provident commodi consectetur veniam similique ad 
          earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
          fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
          suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
          modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
          totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
          quasi aliquam eligendi, placeat qui corporis!</p>
        </div>
        <div id = 'kaiqz'>
            <h4 style = "padding-top : 50px">Real-Time Monitoring</h4>
            <p style = "font-size: 20px; padding-top:25px; margin: 25px 50px 75px 100px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit sapien, pellentesque et lectus sed, finibus fringilla enim. Vivamus laoreet lorem consequat purus ultrices vulputate. Vestibulum a euismod nibh. Duis ut metus semper, tristique ipsum sit amet, pulvinar erat. Sed sit amet imperdiet nunc. Vestibulum vitae ornare tellus. Pellentesque mattis gravida dui, in placerat urna sodales vitae. Nunc hendrerit turpis eu risus volutpat, non sagittis massa molestie. Nam hendrerit ante ligula, vel efficitur neque sollicitudin a.Suspendisse potenti. Morbi cursus massa lacus, a fringilla purus rutrum eget. Cras aliquet quam urna, sed varius diam porta vel. Proin fermentum dolor nec ipsum cursus fringilla. Vivamus lobortis congue ullamcorper. Suspendisse enim lorem, mattis at cursus ac, blandit at ligula. Aenean dignissim tortor in eros hendrerit dictum. Nullam sed sapien ac augue egestas consectetur a vitae ipsum. Vivamus id venenatis risus, sit amet aliquet libero. Sed quis purus bibendum, consequat est eu, tempor arcu. Aenean imperdiet arcu sed dui viverra, id vestibulum tellus pretium. Quisque vel sem a leo accumsan lobortis. Cras dignissim purus interdum, interdum orci eget, aliquam magna
              Dummy text refers to the bits of content that are used to fill a website mock-up. This text helps web designers better envision how the website will look as a finished product. It is important to understand that dummy text has no meaning whatsoever. Its sole purpose is to fill out blank spaces with “word-like” content, without making any copyright infringements.
        
              Dummy text is also known as filler text or placeholder text, and it has been used for a long time in the various fields of online publishing.Now you know what dummy text is, let’s learn about its usefulness. Some people say that they don’t need to use a dummy text generator to deliver a web design project to the customer. Even though this might be true, the effect that the final project will produce on the client won’t be as satisfactory as in the case of one with included filler content.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
              molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
              numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
              optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
              obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
              nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
              tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
              quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
              sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
              recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
              minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
              quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
              fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
              consequuntur! Commodi minima excepturi repudiandae velit hic maxime
              doloremque. Quaerat provident commodi consectetur veniam similique ad 
              earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
              fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
              suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
              modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
              totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
              quasi aliquam eligendi, placeat qui corporis!</p>
        </div>
        <div id = 'superqz'>
          <h4 style = "padding-top : 50px">Daily Status</h4>
          <p style = "font-size: 20px; padding-top:25px; margin: 25px 50px 75px 100px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit sapien, pellentesque et lectus sed, finibus fringilla enim. Vivamus laoreet lorem consequat purus ultrices vulputate. Vestibulum a euismod nibh. Duis ut metus semper, tristique ipsum sit amet, pulvinar erat. Sed sit amet imperdiet nunc. Vestibulum vitae ornare tellus. Pellentesque mattis gravida dui, in placerat urna sodales vitae. Nunc hendrerit turpis eu risus volutpat, non sagittis massa molestie. Nam hendrerit ante ligula, vel efficitur neque sollicitudin a.Suspendisse potenti. Morbi cursus massa lacus, a fringilla purus rutrum eget. Cras aliquet quam urna, sed varius diam porta vel. Proin fermentum dolor nec ipsum cursus fringilla. Vivamus lobortis congue ullamcorper. Suspendisse enim lorem, mattis at cursus ac, blandit at ligula. Aenean dignissim tortor in eros hendrerit dictum. Nullam sed sapien ac augue egestas consectetur a vitae ipsum. Vivamus id venenatis risus, sit amet aliquet libero. Sed quis purus bibendum, consequat est eu, tempor arcu. Aenean imperdiet arcu sed dui viverra, id vestibulum tellus pretium. Quisque vel sem a leo accumsan lobortis. Cras dignissim purus interdum, interdum orci eget, aliquam magna
            Dummy text refers to the bits of content that are used to fill a website mock-up. This text helps web designers better envision how the website will look as a finished product. It is important to understand that dummy text has no meaning whatsoever. Its sole purpose is to fill out blank spaces with “word-like” content, without making any copyright infringements.
      
            Dummy text is also known as filler text or placeholder text, and it has been used for a long time in the various fields of online publishing.Now you know what dummy text is, let’s learn about its usefulness. Some people say that they don’t need to use a dummy text generator to deliver a web design project to the customer. Even though this might be true, the effect that the final project will produce on the client won’t be as satisfactory as in the case of one with included filler content.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
            obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
            nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
            tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
            quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
            sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
            recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
            minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
            quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
            fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
            consequuntur! Commodi minima excepturi repudiandae velit hic maxime
            doloremque. Quaerat provident commodi consectetur veniam similique ad 
            earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
            fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
            suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
            modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
            totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
            quasi aliquam eligendi, placeat qui corporis!</p>
      </div>
              <div id = 'samuraiqz'>
                <h4 style = "padding-top : 50px">Visibility Calculation</h4>
            <p style = "font-size: 20px; padding-top:25px; margin: 25px 50px 75px 100px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit sapien, pellentesque et lectus sed, finibus fringilla enim. Vivamus laoreet lorem consequat purus ultrices vulputate. Vestibulum a euismod nibh. Duis ut metus semper, tristique ipsum sit amet, pulvinar erat. Sed sit amet imperdiet nunc. Vestibulum vitae ornare tellus. Pellentesque mattis gravida dui, in placerat urna sodales vitae. Nunc hendrerit turpis eu risus volutpat, non sagittis massa molestie. Nam hendrerit ante ligula, vel efficitur neque sollicitudin a.Suspendisse potenti. Morbi cursus massa lacus, a fringilla purus rutrum eget. Cras aliquet quam urna, sed varius diam porta vel. Proin fermentum dolor nec ipsum cursus fringilla. Vivamus lobortis congue ullamcorper. Suspendisse enim lorem, mattis at cursus ac, blandit at ligula. Aenean dignissim tortor in eros hendrerit dictum. Nullam sed sapien ac augue egestas consectetur a vitae ipsum. Vivamus id venenatis risus, sit amet aliquet libero. Sed quis purus bibendum, consequat est eu, tempor arcu. Aenean imperdiet arcu sed dui viverra, id vestibulum tellus pretium. Quisque vel sem a leo accumsan lobortis. Cras dignissim purus interdum, interdum orci eget, aliquam magna
              Dummy text refers to the bits of content that are used to fill a website mock-up. This text helps web designers better envision how the website will look as a finished product. It is important to understand that dummy text has no meaning whatsoever. Its sole purpose is to fill out blank spaces with “word-like” content, without making any copyright infringements.
        
              Dummy text is also known as filler text or placeholder text, and it has been used for a long time in the various fields of online publishing.Now you know what dummy text is, let’s learn about its usefulness. Some people say that they don’t need to use a dummy text generator to deliver a web design project to the customer. Even though this might be true, the effect that the final project will produce on the client won’t be as satisfactory as in the case of one with included filler content.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
              molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
              numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
              optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
              obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
              nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
              tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
              quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
              sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
              recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
              minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
              quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
              fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
              consequuntur! Commodi minima excepturi repudiandae velit hic maxime
              doloremque. Quaerat provident commodi consectetur veniam similique ad 
              earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
              fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
              suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
              modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
              totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
              quasi aliquam eligendi, placeat qui corporis!a</p>
              </div>
              <div id= 'attackqz'>
                <h4 style = "padding-top : 50px">GDOP Calculation</h4>
            <p style = "font-size: 20px; padding-top:25px; margin: 25px 50px 75px 100px; text-align: justify;">GDOP ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit sapien, pellentesque et lectus sed, finibus fringilla enim. Vivamus laoreet lorem consequat purus ultrices vulputate. Vestibulum a euismod nibh. Duis ut metus semper, tristique ipsum sit amet, pulvinar erat. Sed sit amet imperdiet nunc. Vestibulum vitae ornare tellus. Pellentesque mattis gravida dui, in placerat urna sodales vitae. Nunc hendrerit turpis eu risus volutpat, non sagittis massa molestie. Nam hendrerit ante ligula, vel efficitur neque sollicitudin a.Suspendisse potenti. Morbi cursus massa lacus, a fringilla purus rutrum eget. Cras aliquet quam urna, sed varius diam porta vel. Proin fermentum dolor nec ipsum cursus fringilla. Vivamus lobortis congue ullamcorper. Suspendisse enim lorem, mattis at cursus ac, blandit at ligula. Aenean dignissim tortor in eros hendrerit dictum. Nullam sed sapien ac augue egestas consectetur a vitae ipsum. Vivamus id venenatis risus, sit amet aliquet libero. Sed quis purus bibendum, consequat est eu, tempor arcu. Aenean imperdiet arcu sed dui viverra, id vestibulum tellus pretium. Quisque vel sem a leo accumsan lobortis. Cras dignissim purus interdum, interdum orci eget, aliquam magna
              Dummy text refers to the bits of content that are used to fill a website mock-up. This text helps web designers better envision how the website will look as a finished product. It is important to understand that dummy text has no meaning whatsoever. Its sole purpose is to fill out blank spaces with “word-like” content, without making any copyright infringements.
        
              Dummy text is also known as filler text or placeholder text, and it has been used for a long time in the various fields of online publishing.Now you know what dummy text is, let’s learn about its usefulness. Some people say that they don’t need to use a dummy text generator to deliver a web design project to the customer. Even though this might be true, the effect that the final project will produce on the client won’t be as satisfactory as in the case of one with included filler content.Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
              molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
              numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
              optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
              obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
              nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
              tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
              quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
              sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
              recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
              minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
              quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
              fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
              consequuntur! Commodi minima excepturi repudiandae velit hic maxime
              doloremque. Quaerat provident commodi consectetur veniam similique ad 
              earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
              fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
              suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
              modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
              totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
              quasi aliquam eligendi, placeat qui corporis!</p>
              </div>
</div>
  

<%-include ("./partials/footer")%>

