<%-include ("./partials/header")%>

<div class="home-text">
    <h1>Register</h1>
</div>

<div class="register-form">
    <form method="POST">
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group">
            <input class="form-control"  type="text" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="emailId" placeholder="Email ID">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password">
        </div>
        <input class="register-button" type="submit" value="register">
    </form>

    Already have an account? <a href="/login">Log In here.</a>
</div>

<%-include ("./partials/footer")%>